@font-face {
  font-family: "unicorn";
  src: local("unicorn"), url(./fonts/unicorn.ttf) format("truetype");
}

@font-face {
  font-family: "muffin";
  src: local("muffin"), url(./fonts/muffin.ttf) format("truetype");
}

body {
  margin: 0;
  font-family: "unicorn", "muffin", -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 250%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "unicorn", "muffin", source-code-pro, Menlo, Monaco, Consolas,
    "Courier New", monospace;
}

.zoomInDown {
  animation: zoomInDown; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 2s; /* don't forget to set a duration! */
}
